.post__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 240px;
  background-color: #343a3e ;
  margin: 24px;
  padding: 12px;
}

.remove__post__container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  background-color: #343a3e ;
}

.remove__post {
  cursor: pointer;
  width: 120px;
  height: 100%;
  transition: background-color 0.3s;
  background-color: #6c5454;
}

.remove__post:hover {
  background-color: #4d3d3d;
}

.post__title {
  width: 100%;
  background-color: #343a3e;
  min-height: 32px;
  font-size: 18px;
}

.create__comment__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #343a3e;
  height: 220px;
  margin-top: 12px;
}

.text__comment {
  width: 100%;
  height: 100%;
}

.create_comment_btn_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #343a3e;
  height: 100px;
  padding: 10px;
  
}

.create_comment_btn {
  cursor: pointer;
  width: 120px;
  height: 100%;
  transition: background-color 0.3s;
}

.create_comment_btn:hover {
  background-color: #54596c;
}

.comments {
  margin-top: 24px;
  background-color: #343a3e;
  padding: 32px;
}

.choose__text__color {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}